@model IndexViewModel
@{
    ViewData["Title"] = "Home Page";
    int row = 1;
}

<div class="text-center">

    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <td>Row</td>
                <td>Users</td>
                <td>Password</td>
                <td>Orders</td>
            </tr> 
        </thead>
        
        @foreach (var person in Model.people)
        {
          <tr>
              <td>@row</td>
              <td>@person.UserName</td>
              <td>@person.Password</td>
              <td>
                      <a class="btn btn-warning" asp-action="EditPerson" asp-controller="People" asp-route-Id="@person.Id">Edit</a>
                      <a class="btn btn-danger" asp-action="DeletePerson" asp-controller="People" asp-route-Id="@person.Id">Delete</a>
              </td>
          </tr>
            row += 1;
        }

    </table>
  
    <hr />

    
    <form method="post" asp-action="AddPerson" asp-controller="People">
       <div asp-validation-summary="ModelOnly" class="text-danger"></div>
       <div class="form-group">
                <label class="text-info" asp-for="person.UserName" class="control-label"></label>
                <input asp-for="person.UserName" class="form-control" />
                <span asp-validation-for="person.UserName" class="text-danger"></span>
       </div>
       <br />
       <div class="form-group">
                <label class="text-info" asp-for="person.Password" class="control-label"></label>
                <input asp-for="person.Password" class="form-control" />
                <span asp-validation-for="person.Password" class="text-danger"></span>
       </div>
       <br />
       <div class="form-group">
          <input type="submit" value="Add Person" class="btn btn-success" />
       </div>
 
   </form>

</div>

@section Scripts{ 
    <partial name="_ValidationScriptsPartial" />
}
